In [ ]:
#ANS 1 what is list ? how to reverse a list.

#List is one of the data type in python.
#list is denoted by [] Sqaure bracket.
#list can be reversed by using a method called  .reverse()

In [ ]:
#ANS 2 how will remove last object from a list?

#Remove a Last object from a List can be use a  .pop()  Method.

In [1]:
#ANS 3 What is list[-1]
list1=[2,33,222,14,25]
list1[-1]

25

In [ ]:
#ANS 4 Different between .append() and .extend() method

# append() methods add an elements as 1 element.
# extend() methods can only add iterable as an individual.

In [ ]:
#ANS 5

In [3]:
#ANS 6 How will compare two list?

list1=[12,23,33,67]
list2=[33,44,55,44]
list1.sort()
list2.sort()
if list1 == list2:
    print('both list is same')
else:
    print('both list are not same')

both list are not same

In [ ]:
#ANS 7

In [6]:
#ANS 8 Write a python program to remove duplicate from a list 

list1=[{33,55,77,77,88,88}]
print(list1)

[{88, 33, 77, 55}]

In [7]:
#ANS9 Write  a python programme to check a list is empty or not
list1=[]
if len(list1)==0:
    print('list is empty')
else:
    print('list is not empty')

list is empty

In [ ]:
#ANS 10

In [14]:
#ANS 11 Write a python program to generate and print a list of first and last 5 elements 
 #where the value sqaure of num between 1 to 30
    
list1=[]
for i in range (1,31):
    if i<5 or (i>25 and i<=30):
        list1.append(i*i)
print(list1)

[1, 4, 9, 16, 676, 729, 784, 841, 900]

In [16]:
#ANS 12 write a python function that take a list and return a new list with unique elements of first list

list1=[22,33,4,455,4445,455,4]
s=set(list1)
print(s)

{33, 4, 455, 22, 4445}

In [17]:
#ANS 13  write a python program to convert a list of character into string
list1=['a','b','c','d','e']
str1=''.join(list1)
print(str1)

abcde

In [ ]:
#AnS 14

In [18]:
#ANS 15 write a python program to find second smallest number in a list
list2=[22,33,66,44,66,55]
list2.sort()
print(list2[1])

33

In [ ]:
#ANS 16

In [ ]:
#ANS 17

In [20]:
#ANS 18 write a python program to split a list in different variable.

a,b,c,d,e=[22,2,33,44,45]
print(a)

22

In [ ]:
#ANS 19 what is tuple? Different between tuple and list 

# Tuple is immutable, ordered, indexed
# Tuple data type allow all duplicate elements.
# In tuple all datatypes use in tuple elements.

# DIFFERENCE:-
              #Tuple is immutable data type
              # list is mutable data type ,so change a elements in list as per required.

In [22]:
#ANS 20 write a python program to create a tuple with different data types 

tupl1=(1,2.3,'sachin',True,[12,22],(1,2,3,3),{22,33},{22:23,55:55})
print(tupl1)

(1, 2.3, 'sachin', True, [12, 22], (1, 2, 3, 3), {33, 22}, {22: 23, 55: 55})

In [23]:
#ANS 21 write a python program to create a tuple with number
tupl2=22,33,44,55,55
print(tupl2)

(22, 33, 44, 55, 55)

In [ ]:
#ANS 22

In [28]:
#ANS 23 write a python program to check weather element exist within an element

tup2=int(input())
tup2=()
if len(tup2)!=0:
    print('element exit in tuple')
else:
    print('element is empty')

9
element is empty

In [31]:
#ANS 24 write a python program to find lenght of tuple

tuple3= (1,2.4,'sagar',(33,33),{33,'sachin'})
y=len(tuple3)
print(y)

5

In [34]:
#ANS 25 write a python program to convert a list of tuple

list2=[2,33,3.3,'sachin',True,{33,44}]
y=tuple(list2)
print(y)

(2, 33, 3.3, 'sachin', True, {33, 44})

In [36]:
#ANS 26 write a python program to reverse a tuple

tup4=(1,2,3,4,5,6,7,8)
y=tup4[::-1]
print(y)

(8, 7, 6, 5, 4, 3, 2, 1)

In [42]:
#ANS 27 write a python program to replace last value of tuple
tuple=(22,33,44,55)
a=list(tuple)
a.pop()
a.append('sachin')
print(a)

[22, 33, 44, 'sachin']

In [ ]:
#ANS 28

In [44]:
#ANS 29 write a python program to remove empty tuple from list of tuple 
list=[22,33,(),45]
a=list.remove(())
print(list)

[22, 33, 45]

In [ ]:
#ANS 30

In [46]:
#ANS 31
tuple=([22,33],[44,55])
dict(tuple)

{22: 33, 44: 55}

In [ ]:
#ANS 32

In [ ]:
#ANS 33
dict={22:33,44:45}
dict2={3:44,44:55}

In [54]:
#ANS 34 write a python program to concatenate following dictionary to create new one 

dict1={22:33,33:34,3:'sachin'}
dict2={445:56,44:67}
dict1.update(dict2)
print(dict1)

{22: 33, 33: 34, 3: 'sachin', 445: 56, 44: 67}

In [49]:
#ANS 35  write a python script to check if a given key alrteady exit

y=int(input())
dict={22:33,334:'sachin',33:44,4:'bvishal'}
if y in dict:
    print('exist')
else:
    print('not exist')

33
exist

In [56]:
#ANS 36 write a python program to merge  two python dictionary

dict1={22:33,33:34,3:'sagar'}
dict2={445:56,44:87}
dict1.update(dict2)
print(dict1)

{22: 33, 33: 34, 3: 'sagar', 445: 56, 44: 87}